body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body::before{
  display:block;
  content: "";
  height: 30px;
}
.navbar{
  color: #E7F2F4;
}
li{
  color:aqua;
}
body{
  background-image: url(../public/images/urban-landscape-background\ 2.png);
  width: 100vw;
  height: 100vh;
}
.card{
  background-color:#a0b19d;
}
.btn{
  background-color: aquamarine;
}
.tileTitle{
  position:absolute;
  /* transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center; */
}
.tileContainer{
  background-image: 'C:\Users\Owner\Desktop\coding\Registration\createnotice.html';
  /* background-color:green; */
  /* height: 100px;
  width: 200px; */
}
.mycontainer {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: auto auto auto auto; 
  column-gap: 10px;
  row-gap: 200px;
}
@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .mycontainer {
    display: grid;
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: 120 ; 
    column-gap: 10px;
    row-gap: 150px;
  }
}